body {
	margin: 0px;
	padding: 0px;
	font-family: 
		"Arial",
		"Microsoft YaHei",
		"黑体",
		"宋体",
		sans-serif;
	background-color: white;
	color: #24292e;
	line-height: 1.5;
}


#container-top{
	background-color: #3A474F;
	height: auto;
}

#top-nav{
	font-size: 12px;
	width: 760px;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	display: block;
	overflow: hidden;
}

#top-nav .function{
	
	float: left;
}

#top-nav .social{
	float: right;
}

#top-nav nav li{
	display: inline-block;
}

#top-nav .function li{
	margin: 2px 0px;
	padding-right: 10px;
}

#top-nav .social li{
	margin: 2px 0px;
	padding-left: 8px;
}
#top-nav nav li a{
	color: white;
	font-size: 12px;
}

#top-nav nav li .fa{
	margin: 2px 0px;
	font-size: 14px;
	position: relative;
	top: 50%;
	transform: translateX(-50%);
}

#top-nav nav li .fa:hover{
	color: darkgray;
}

#container-banner{
	width: 100%;
	padding: 10px 0px;
	border-bottom:solid 1px #3A474F;
}

#profile{
	position: relative;
	/*left:50%;
	transform: translateX(-50%);*/
	margin-left: auto;
	margin-right: auto;
	background-image: url('../images/profile.jpg');
	background-size: 80px auto;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border-color: #3A474F;
	border-style: solid;
	border-width: 2px;
}

#subtitle{
	font-size: 12px;
	text-align: center;
	color: #3A474F;
}

#subtitle p{
	margin: 8px 0;
}

#container-body{
	width: 100%;
}

#container-main{
	
	width: 760px;
	margin-left:auto;
	margin-right: auto;
}

#main-nav{
	border-bottom: solid 1px #3A474F;
}	

#main-nav nav{
	display: table;
	clear: both;
	list-style: none;
	margin: 0px auto 0px auto;
	padding: 0px;
}

#main-nav nav li{
	display: inline-block;
	margin: 0px 8px;
}

#main-nav nav li a{
	color: gray;
	font-size: 12px;
}

#main-nav .active a,
#main-nav nav li a:hover{
	text-decoration: underline;  
	color: #3A474F;
}

.posts{
	padding-top: 10px;
	padding-bottom:15px; 
	color: #3A474F;
	border-bottom: solid 1px #3A474F;
}

.article-title{
	color: #3A474F;
	margin-top: 20px;
	margin-bottom: 0;
	border-bottom: none;
	text-align: center;
}

.posts h2{
	color: #3A474F;
	margin-top: 10px;
	margin-bottom: 0px;
	border-bottom: none;
}

.posts h2 a{
	color: #3A474F;
	font-weight: normal;
}

.psots h2 a:hover{
	text-decoration: none;
	text-decoration: underline;
	color: #3A474F;
}

.disqus-comment-count,
.article-title-span{
	color: gray;
	font-size: 14px;
	padding-right: 15px;
}

#footer{
	text-align: center;
	padding-top:10px; 
}

#footer p{
	margin: 2px auto;
}
