<!DOCTYPE html>
<html lang="en">
<head>
    <title>CoorFang's Blog</title>
    <!--for debugging-->
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
</head>

<body>
    <div id="container-top">
        <div id="top-nav">
            <nav class="function">
                <li><a href="./profile">ABOUT ME</a></li>
                <li><a href="cv.pdf">CV</a></li>
                <li><a href="./cn">简体中文</a></li>
            </nav>
            <nav class="social">
                <li>
                <a href="https://www.instagram.com/coorfang/">
                <i class="fa fa-instagram" aria-hidden="true">
                </i></a></li>
                <li><a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </nav>
        </div>
    </div>
    <div id="container-banner">
        <div id="profile">
            
        </div>
        <div id="subtitle">
            <p>方可 / Coor Fang</p>
            <p>Graduate @ISEP/ Hardwear Engineer @NXEZ</p>
        </div>
    </div>
    <div id="container-body">
        <div id="container-main">
            <div id="main-nav">
                <nav>
                    <li><a href="">All</a></li>
                    <li><a href="">Tech</a></li>
                    <li><a href="">Life</a></li>
                    <li><a href="">Project</a></li>
                    <li><a href="">Travel</a></li>
                </nav>
            </div>
            <div id="posts">
                <h2><a href="">瑞士滑雪小记</a></h2>
                <span class="post-data">Tue 07 March 2017</span>

                <h2><a href="">Filco Minila Air机械键盘评测</a></h2>
                <span class="post-data">Tue 06 March 2017</span>
                
                <h2><a href="">我的第一篇Pelican测试文章</a></h2>
                <span class="post-data">Tue 06 March 2017</span>

            </div>
            <div id="footer">
                <p>
                    <img src="https://img.shields.io/badge/Posts-41-brightgreen.svg">
                    <img src="https://img.shields.io/badge/Comments-25-blue.svg">
                </p>
                <p>
                    <img src="https://img.shields.io/badge/Hosted-GitHub-orange.svg">
                    <img src="https://img.shields.io/badge/Power by-Pelican-green.svg">
                </p>
                <p>
                    <img src="https://img.shields.io/badge/Version-1.0-ff69b4.svg">
                </p>
            </div>
        </div>
    </div>
    <!--Contents-->
</body>
</html>
