{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<div class="posts">
{% for article in articles_page.object_list %}
    <h2><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a></h2>
    <span class="article-title-span"><i class="fa fa-calendar" aria-hidden="true"></i> {{ article.locale_date }}</span>

    {% if DISQUS_SITENAME %}
    <span class="article-title-span"><i class="fa fa-comments-o" aria-hidden="true"></i>
    <span class="disqus-comment-count" data-disqus-identifier="{{ article.url }}"></span></span>
    {% endif %}
{% endfor %}
</div>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
